services:
  front:
    build:
      context: .
      dockerfile: front.Dockerfile
    container_name: ${CONTAINER_NAME}_front
    restart: always
    networks:
      - hanyang-net  
      - traefik-net 
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hanyang-automation.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.hanyang-automation.entrypoints=web,websecure"
      - "traefik.http.routers.hanyang-automation.tls.certresolver=letsencrypt"
      - "traefik.http.services.hanyang-automation.loadbalancer.server.port=${PORT}"
    depends_on:
      - back
    ports:
      - 8000:8000

  automation:
    build:
      context: .
      dockerfile: automation.Dockerfile
      platforms:
        - linux/amd64
    container_name: ${CONTAINER_NAME}_automation
    environment:
      - DB_ENCRYPTION_KEY_B64=${DB_ENCRYPTION_KEY_B64}
    restart: always
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    networks:
      - hanyang-net
    depends_on:
      - back
    user: "1000:1000"
    expose:
      - "7000"
    platform: linux/amd64

  back:
    build:
      context: .
      dockerfile: back.Dockerfile
    container_name: ${CONTAINER_NAME}_back
    restart: always
    environment:
      - DB_ENCRYPTION_KEY_B64=${DB_ENCRYPTION_KEY_B64}
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    networks:
      - hanyang-net
    user: "1000:1000"
    expose:
      - "9000"

networks:
  hanyang-net:
    driver: bridge
  traefik-net:
    external: true